@font-face {
  font-family: 'Lato-Thin';
  src: url('../fonts/Lato/Lato-Thin.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}

/*                                                                              VARIABLES */

:root {
  --font-btn: 'Lato-Regular';
  --font-body: 'Montserrat-Regular';
  --main-color: #3d98db;
  --secondary-color: #35E8D3;
  --third-color: #E89110;
  --fourth-color: #92C0E1;
  --footer-main-color: #363636;
  --footer-secundary-color: #2a2a2a;
}

/*                                                                              GENERAL CLASSES AND TAGS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 24px;

}

header {
  background: white;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 99;
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 28px 20px;
  font-family: var(--font-btn);
}

.section_width {
  max-width: 1200px;
  margin: auto;
}

.filter {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.second_layer {
  z-index: 2;
}

.btn {
  color: white;
  border: 1px white solid;
  background-color:  transparent;
  padding: 10px;
}

.btn:hover {
  color: var(--main-color);
  background-color: white;
}

.blue_line {
  color: var(--main-color);
  background-color: var(--main-color);
  border: 2px var(--main-color) solid;
  width: 50px;
  margin-bottom: 20px;
}

.section_description {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*                                                                              NAV SECTION */

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap:  60px;
}

#menu_icon {
  display: none;
}

.left_nav_item {
  background: var(--main-color);
  color: white;
  height: 80px;
  width: 170px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  position: relative;
}

.left_nav_item_top_triangle {
  background-color: white;
  border: white solid;
  width: 50px;
  height: 60px;
  clip-path: polygon(100% 0, 0 0, 100% 68%);
  position: absolute;
  top: 0;
  right: -1%;
}

.left_nav_item_bottom_triangle {
  background-color: white;
  border: white solid;
  width: 50px;
  height: 60px;
  clip-path: polygon(100% 46%, 0 100%, 100% 100%);
  position: absolute;
  bottom: 0;
  right: -1%;
}

.right_nav_item {
  font-weight: bold;
  list-style: none;
  display: flex;
  gap: 10px;
}

.right_nav_item li:hover {
  background-color: var(--main-color);
}

.right_nav_item li:hover a {
  color: white;
}

.right_nav_item li a {
  color: var(--main-color);
}

/*                                                                              FIRST SECTION */

.img_section {
  height: 100vh;
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.img_section_info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  color: white;
}

.img_section_info h1 {
  font-size: 100px;
  font-weight: bold;
}

/*                                                                              SECOND SECTION */

.healthcare_section {
  padding-top: 60px;
}

.gallery_fancy_section {
  margin-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.gallery_info {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.gallery_info a {
  padding: 5px 5px;
}

.gallery_info a img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.gallery_about_text {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.accordion_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion_title {
  cursor: pointer;
  max-width: 450px;
  display: flex;
  gap: 30px;
  border-radius: 2%;
  padding: 10px;
  background-color: var(--secondary-color);
}

.accordion_info {
  max-width: 400px;
  margin-top: 20px;
  margin-left: 40px;
  display: none;
}

/*                                                                              THIRD SECTION */
.smart_doctors_section {
  background: linear-gradient(white
  50%,var(--fourth-color) 50%);
}

.smart_doctors_info {
  padding-top: 20px;
  padding-bottom: 30px;
}

.container_slide {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.arrow_class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.arrow_btn {
  display: inline-block;
  border: 1px black solid;
  padding: 20px 30px;
  border-radius: 2%;
}

.arrow_btn:hover {
  background-color: var(--secondary-color);
}

.viewport {
  flex-grow: 1;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding-left: 10px;
}

.cards {
  text-align: center;
  width: 290px;
  padding: 10px;
  margin-right: 15px;
  border: 2px var(--third-color) solid;
  border-radius: 2%;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(105, 104, 104);
}

.cards h2 {
  margin-top: 30px;
}

.cards h3 {
  margin-top: 10px;
}

.cards figure img {
  max-width: 250px;
  max-height: 300px;
}

.social_media {
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}